@media (max-width: 768px) {

    .menu-btn {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .nav-links {
        position: absolute;
        top: 80px;
        left: -100%;
        width: 100%;
        background: #fff;
        flex-direction: column;
        text-align: center;
        transition: 0.4s;
        padding: 20px 0;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 15px 0;
    }
}